[Unit]
Description=HPM: Heat Pump Manager
Documentation=
After=sshd.service
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
ExecStart=/usr/sbin/hpm
ExecReload=kill -SIGUSR1 $MAINPID
TimeoutStopSec=5s
KillMode=mixed
Restart=always
RestartSec=20s

[Install]
WantedBy=multi-user.target
